<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Oauth2Test.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7FD256461B545A9D00825BF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7FD2565B1B545A9D00825BF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7FD256B61B5707E500825BF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7FD256CA1B5707E600825BF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
